<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>Receptra</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}?v=2">
         <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}?v=2">
       
    </head>
    <body>
        <div class="header">
            <div class="left-section">
                <button class="logo-title" onclick="window.location.href='homepage.html'">
                    RECEPTRA
                </button>
            </div>
            <div class="right-section">
                <button class="About" onclick='window.location.href="{{ url_for("about") }}"'>ABOUT</button>
                <button class="Services" onclick='window.location.href="{{ url_for("services") }}"'>SERVICES</button>
                <button class="Our-team" onclick='window.location.href="{{ url_for("ourteam") }}"'>OUR TEAM</button>
            </div>
            <div></div>
            <div></div>

        </div>
        <div class="main">
        <div class="logo">
        <img src="{{ url_for('static', filename='img/Receptra-logo-raw.png') }}?v=2" alt="Receptra Logo">
        </div>
            <div class="main-title">Chào mừng đến với Receptra Hospital Chatbot</div>
            <div class="main-desc">
                Trợ lý ảo bệnh viện Bạch Mai chuyên hỗ trợ bạn hỏi đáp sức khỏe, tư vấn triệu chứng, và nhận tư vấn y tế mọi lúc, mọi nơi.<br>
                Hãy nhấn nút bên dưới để bắt đầu trò chuyện với chatbot của chúng tôi!
            </div>
            <a href="{{ url_for('chat_page') }}" class="start-talk-btn">Bắt đầu trò chuyện</a>
        </div>
        <div class="footer">
            &copy; 2025 Receptra Hospital. All rights reserved.
        </div>
    </body>
</html>